<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/pages/add">
        <label for="name">NAME</label><br>
        <input type="text" name="name"><br>
        <label for="age">AGE</label><br>
        <input type="number" name="age"><br>
        <label for="city">CITY</label><br>
        <input type="text" name="city"> <br>
        <input type="submit">
    </form>
</body>
</html>